@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
}

.full-signin-contauner .fc-authkit-signin-button {
  width: 100%;
}

.full-signin-contauner .fc-authkit-signin-button > button {
  width: 100%;
  justify-content: center;
  border-radius: 4px;
}

.fc-authkit-signin-button > button {
  font-size: 15px;
  font-family: "Inter";
  padding: 0.5rem 0.75rem;
  line-height: 24px;
  border-radius: 9999px;
  /* background-color: rgb(94 63 166 / var(--tw-bg-opacity)); */
}

.fc-authkit-signin-button > button > svg {
  transform: scale(0.8);
}

[data-rk] {
  /* width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center; */
}

@font-face {
  font-family: "SpaceGrotesk";
  font-weight: 400;
  src: url("../public/SpaceGrotesk-Regular.ttf");
}

@font-face {
  font-family: "SpaceGrotesk";
  font-weight: 700;
  src: url("../public/SpaceGrotesk-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../public/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../public/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../public/Inter-SemiBold.ttf");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @keyframes border-slide {
    from {
      stroke-dashoffset: 33;
    }
    to {
      stroke-dashoffset: -66;
    }
  }

  .animate-border-slide {
    animation: border-slide 5s linear infinite;
  }
}

@layer base {
  :root {
    --color-primary: 31 21 55;
  }
}
